#root {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
}

.textBox {
  color: black;
  background-color: white;
}

.container {
  background-color: white;
  padding: 40px;
  width: 30%;
}
